---
- name: Install CNI plugin
  when: "'master' in group_names"
  shell: |
    if [ "{{ cni_plugin }}" = "calico" ]; then
      kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.28.0/manifests/calico.yaml
    else
      kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
    fi
  args:
    executable: /bin/bash
